<h4>Route {{ _id }}</h4>

<p>
    Start: {{ start.lon }}, {{ start.lat }}<br>
    Goal: {{ goal.lon }}, {{ goal.lat }}<br>
    Time required: {{2k time }} s<br>
    Distnace: {{2k distance}} km <br>
</p>