<h2>Truck {{ _id }}</h2>
<h5>Coordinates</h5>
{{ lon }} <br>
{{ lat }} <br>
Accuracy: {{ horizontalAccuracy }} m

<h5>Speed</h5>
{{ speed }} m/s

<h5>bearing</h5>
{{ bearing }}°

<h5>Last Update</h5>
{{ ts }}