<h2>Truck</h2>

<p>
    <strong>Truck ID:</strong> {{ _id }}
</p>
<p>
    <strong>Speed:</strong> {{ speed }} m/s
</p>
<p>
    <strong>Bearing:</strong> {{ bearing }}°</p>
<p>
    <strong>Position:</strong> <br>
    lon: {{ lon }} <br>
    lat: {{ lat }}
</p>
<p>
    <strong>Accuracy:</strong> {{ horizontalAccuracy }} m
</p>
