<h2>Truck #{{ id }}</h2>
<p>lorem ipsum dolor sit amet.</p>
<h5>Coordinates</h5>
{{ lon }} {{ lat }}<br>
Accuracy: {{ horizontalAccuracy }} m
<h5>Speed</h5>
{{ speed }} m/s
<h5>Last Update</h5>
{{ ts }}